<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/4b055c350ec1056178172f12/w/dabb94c390d2df95343427ab/e/7ceea8052d9961ebb08f8fbb -->
<robot name="robot1">
  <!-- Link small_gear -->
  <link name="small_gear">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part small_gear -->
    <visual>
      <origin xyz="-0.0002089 0 0.06985" rpy="1.44409 0 -0"/>
      <geometry>
        <mesh filename="package://assets/small_gear.stl"/>
      </geometry>
      <material name="small_gear_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0002089 0 0.06985" rpy="1.44409 0 -0"/>
      <geometry>
        <mesh filename="package://assets/small_gear.stl"/>
      </geometry>
    </collision>
  </link>
</robot>
